{% extends 'main.html' %} {% block content %}
<div class="bgvideo">
  <video autoplay muted loop>
    {% comment %} <source
      src="https://res.cloudinary.com/dzy2zn0mz/video/upload/v1698215482/SecurePixel/bgvideo.mp4"
    />
  </video> {% endcomment %}
</div>

<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span></br>
      <div class="input1">
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
      </div>
      <a href="index.html" class="signup_link">
        <button class="signup_button1">Signup</button>
      </a>
    </form>
  </div>
   <div class="overlay-container1">
    <div class="overlay1">
      <div class="overlay-panel1 overlay-left1">
        <h1>Welcome User !</h1>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
